{% extends 'base.html' %}

{% block head %}
<title>Welcome to Taskify!</title> 
{% endblock %}

{% block body %}
<div class=content>
  <h1>Welcome to Taskify!</h1>
  {% if tasks|length < 1 %}
    <h5>There are no task yet - Create one below</h5>
  {% else %}
  <table>
    <tr>
      <th>Task</th>
      <th>Added</th>
      <th>Actions</th>
    </tr>
    {% for task in tasks %}
        <tr>
          <td>{{ task.content }}</td>
          <td>{{ task.date_created.date() }}</td>
          <td>
            <a href="/delete/{{task.id}}">Delete</a> | 
            <a href="/update/{{task.id}}">Update</a>
          </td>
        </tr>
    {% endfor %}
  </table>
  {% endif %}
  <form action="/" method=POST>
    <input type="text" name="content" id="content">
    <input type="submit" valud="Add Task">
   </form>
</div>

{% endblock %}